/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 15px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 25%;
}
.carousel-caption h1 {
  color: #fff;
}
.carousel-caption .btn-primary {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
  box-shadow: inset 0 0 0 3px #fff;
  margin-top: 20px;
}
.carousel-caption .btn-primary:hover,
.carousel-caption .btn-primary:focus {
  color: #262626;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
  box-shadow: inset 0 0 0 3px #fff;
  margin-top: 20px;
}
.carousel-caption .btn-primary:active {
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: relative;
  top: 3px
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: auto;
  background-color: #262626;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}
.slideImageWrapper {
  max-height: 500px;
  width: 100%;
  overflow: hidden;
}
.slideImageWrapper img {
  width: 100%;
  -webkit-transition: all ease-in-out 0.35s, box-shadow ease-in-out 0.35s;
          transition: all ease-in-out 0.35s, box-shadow ease-in-out 0.35s;
}
#myCarousel:hover .carousel-inner img {
  opacity: .3;
  filter: alpha(opacity=30);
}
.carousel-control {
  opacity: .2;
  filter: alpha(opacity=20);
}
.carousel-control:hover,
.carousel-control:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel-control.left:hover .glyphicon,
.carousel-control.right:hover .glyphicon {
  -moz-animation:bounce .40s linear;
  -webkit-animation:bounce .40s linear;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (max-width: 767px) {
  .slideImageWrapper {
    max-height: 313px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .carousel-inner > .item > img,
  .carousel .item {
    max-height: 322px;
  }
}

@media (min-width: 1200px) {
  .carousel-inner > .item > img,
  .carousel .item {
    max-height: 424px;
  }
}

