/* GLOBAL STYLES
-------------------------------------------------- */
body {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	background-color: #fefefe;
	background-color: rgba(255,255,255,0.9);
	opacity: 1;
}
.wf-loading body {
	opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.66s ease-in-out;
     -moz-transition: all 0.66s ease-in-out;
       -o-transition: all 0.66s ease-in-out;
          transition: all 0.66s ease-in-out;
}
.wf-loading img {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}
a {
	color: #CA4242;
	text-shadow: 0 0 1px rgba(51,51,51,0.2);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
a:hover,
a:focus {
	color: #A33333;
}
.bodyContent a:active {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
p {
	text-shadow: 0 0 1px rgba(51,51,51,0.2);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
h1, h2, h3, h4, h5, h6 {
	font-family: "din-condensed-web",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #262626;
	text-shadow: 0 0 1px rgba(51,51,51,0.2);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
h1.sectionTitle,
h2.sectionTitle {
	text-transform: uppercase;
	margin-top: 0;
}
h4.subTitle {
	position: absolute;
	top: 118px;
	left: 50%;
	margin-left: -195px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #afafaf;
}
.btn-primary {
	font-family: "din-condensed-web",sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #262626;
	background-color: transparent;
	-webkit-box-shadow: inset 0 0 0 3px #262626;
	box-shadow: inset 0 0 0 3px #262626;
	border: none;
	padding: 10px 15px;
	font-size: 1em;
	outline: none;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: #262626;
}
.btn-primary:active {
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: relative;
	top: 3px;
}
.container {

}
.container.footer {
	margin-bottom: 40px;
}
.spacer {
	padding-bottom: 30px;
}
.borderTop {
	border-top: 3px solid #262626;
	margin-bottom: 1px;
}
.borderBelowTop {
	border-top: 1px solid #262626;
}
.borderPadding {
	margin-bottom: 15px;
}
.scrollTop {
	position: fixed;
	z-index: 12;
	bottom: 15px;
	right: 15px;
	height: 45px;
	line-height: 40px;
	width: 45px;
	color: #fff;
	background-color: #262626;
	cursor: pointer;
}
.scrollTop.hidden {
	display: none;
}
.adminLogin {
	background-color: #262626;
}
.scrollTop span,
.adminLogin span,
.adminEdit span {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 1px;
	line-height: 38px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.scrollTop:hover,
.scrollTop:focus,
.scrollTop:focus,
.adminLogin:hover,
.adminLogin:focus,
.adminEdit:hover,
.adminEdit:focus,
.edit:hover,
.edit:focus {
	color: #262626;
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 0 3px #262626;
			box-shadow: inset 0 0 0 3px #262626;
}
.scrollTop:hover span,
.scrollTop:focus span,
.scrollTop:focus span,
.adminLogin:hover span,
.adminLogin:focus span,
.adminEdit:hover span,
.adminEdit:focus span,
.edit:hover span,
.edit:focus span {
	color: #262626;
}
.scrollTop:active {
	bottom: 13px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.resultTitle {
	background-color: #262626;
	background-color: rgba(38, 38, 38, 0.8);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}
.resultTitle h1 {
	color: #fff;
	padding: 0 15px;
	line-height: 1.4em;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 3em;
}



/* First Section
-------------------------------------------------- */
.firstSection {
	margin-bottom: 15px;
}
.firstSection img {
	width: 100%;
}



/* Animations
-------------------------------------------------- */
@-moz-keyframes bounce {
	0%{ -moz-transform:scale(0); opacity:0;}
	50%{ -moz-transform:scale(1.3); opacity:0.4; }
	75%{ -moz-transform:scale(0.9); opacity:0.7;}
	100%{ -moz-transform:scale(1); opacity:1;}
}
@-webkit-keyframes bounce {
	0%{ -webkit-transform:scale(0); opacity:0;}
	50%{ -webkit-transform:scale(1.3); opacity:0.4;}
	75%{ -webkit-transform:scale(0.9); opacity:0.7;}
	100%{ -webkit-transform:scale(1); opacity:1;}
}



/* Unique Colors
-------------------------------------------------- */
@media (max-width: 767px) {
	.fashion:hover,
	.fashion:hover a {
		background-color: #ae4159!important;
		color: #fff !important;
	}
	.health-beauty:hover,
	.health-beauty:hover a {
		background-color: #eca9aa !important;
		color: #fff !important;
	}
	.cooking:hover,
	.cooking:hover a {
		background-color: #b3be63 !important;
		color: #fff !important;
	}
	.lifestyle:hover,
	.lifestyle:hover a {
		background-color: #65a5de !important;
		color: #fff !important;
	}
	.home:hover,
	.home:hover a {
		background-color: #cbaecf !important;
		color: #fff !important;
	}
}

.navbar-nav > .active > a.fashion:before,
.navbar-nav li > a.fashion.open:before,
.navbar-default .navbar-nav > .active.nonActive.fashion > a.open:before {
	border-bottom: 10px solid #ae4159;
}
.navbar-nav > .active > a.health-beauty:before,
.navbar-nav li > a.health-beauty.open:before,
.navbar-default .navbar-nav > .active.nonActive.health-beauty > a.open:before {
	border-bottom: 10px solid #eca9aa;
}
.navbar-nav > .active > a.cooking:before,
.navbar-nav li > a.cooking.open:before,
.navbar-default .navbar-nav > .active.nonActive.cooking > a.open:before {
	border-bottom: 10px solid #b3be63;
}
.navbar-nav > .active > a.lifestyle:before,
.navbar-nav li > a.lifestyle.open:before,
.navbar-default .navbar-nav > .active.nonActive.lifestyle > a.open:before {
	border-bottom: 10px solid #65a5de;
}
.navbar-nav > .active > a.home:before,
.navbar-nav li > a.home.open:before,
.navbar-default .navbar-nav > .active.nonActive.home > a.open:before {
	border-bottom: 10px solid #cbaecf;
}

.dropdownCategories.fashion {
	border-color: #ae4159;
	border-bottom: 4px solid #ae4159;
}
.dropdownCategories.health-beauty {
	border-color: #eca9aa;
	border-bottom: 4px solid #eca9aa;
}
.dropdownCategories.cooking {
	border-color: #b3be63;
	border-bottom: 4px solid #b3be63;
}
.dropdownCategories.lifestyle {
	border-color: #65a5de;
	border-bottom: 4px solid #65a5de;
}
.dropdownCategories.home {
	border-color: #cbaecf;
	border-bottom: 4px solid #cbaecf;
}

.fashion {
	color: #ae4159;
}
.health-beauty {
	color: #eca9aa;
}
.cooking {
	color: #b3be63;
}
.lifestyle {
	color: #65a5de;
}
.home {
	color: #cbaecf;
}



/* Fonts
-------------------------------------------------- */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}



/* Nav
-------------------------------------------------- */
.navbar {
	border: 0;
	margin: 0;
}
.navbar-nav {
	text-align: center;
	float: none;
	margin-top: 0;
	margin-left: -30px;
}
.navbar-nav.fixed {
	position: fixed;
	top: 0;
	background-color: #fff;
	background-color: rgba(255,255,255,0.96);
	border-bottom: 3px solid #262626;
}
.navbar-nav > li {
	float: none;
	display: inline-block;
	font-family: "din-condensed-web",sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: #e7e7e7;
	background-color: rgba(0, 0, 0, 0.05);
}
.nav > li > a {
	padding: 15px 10px;
}
.navbar-default .navbar-nav > li > a {
	color: #262626;
}
.navbar-nav > li > a {
	color: #262626;
}
.navbar-header {
	width: 100%;
}
.navbar-default .navbar-toggle {
	border-color: #262626;
}
.navbar-toggle {
	font-family: "din-condensed-web",sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	background: #262626;
	border-color: #262626;
	color: #fff;
	border-radius: 0;
	width: 100%;
	margin: 0;
	padding: 15px 10px;
}
.navbar-toggle .icon-bar {
	margin: 4px 5px;
}
.container > .navbar-header,
.container > .navbar-collapse {
	margin: 0;
}
.logo {
	text-align: center;
	margin-bottom: -1px;
}
.navbar-brand {
	line-height: 2em;
	float: none;
}
.navbar-nav > li.smallLogo {
	float: left;
}
.navbar-nav > li.smallLogo.hidden {
	display: none;
}
.navbar-nav > li.smallLogo a {
	padding: 0;
}
.navbar-nav > li.smallLogo img {
	height: 45px;
	position: absolute;
	top: 8px;
	left: 15px;
}
.navbar-default .navbar-nav > .active > a:before {
	border-bottom-color: #262626;
}
.navbar-default .navbar-nav > .active.nonActive > a:before {
	border-bottom-color: transparent;
}
.navbar-default .navbar-nav > .active.nonActive:hover > a:before {
	border-bottom-color: #262626;
}



/* Footer
-------------------------------------------------- */
.footerNav {
	text-align: left;
	margin: 0 -5px 0 -10px;
	float: none;
}
.footerNav > li {
	float: none;
	display: inline-block;
	font-family: "din-condensed-web",sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	background-color: transparent !important;
}
.footerNav > li a {
	color: #262626;
}
.footerNav > li a:hover {
  color: #A33333;
  text-decoration: underline;
}
.socialButtons {
	float: right !important;
}



/* Comments
-------------------------------------------------- */
.fb-comments,
.fb-comments iframe[style],
.fb-comments > span {
	width: 100% !important;
}



/* Content
-------------------------------------------------- */
.contentWrapper,
.col-md-8.editor {
	padding: 0;
}
.editor .col-md-8 .edit {
	position: absolute;
	top: 0;
	right: 0;
}
.bodyContent h1 {
	text-transform: capitalize;
}
.img-circle.pull-left,
.img-rounded.pull-left,
.img-thumbnail.pull-left {
	margin-right: 15px;
}
.img-circle.pull-right,
.img-rounded.pull-right,
.img-thumbnail.pull-right {
	margin-left: 15px;
}
h5.postTags,
.bodyContent h5.postDate {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #969696;
}
h5.postTags a,
h5.postCategory a {
	font-size: .8em;
}
h5.postCategory {
	float: left;
	margin-right: 15px;
}
h5.postCategory a {
	text-transform: uppercase;
	letter-spacing: 3px;
}
.featuredImageWrapper img {
	width: 100%;
}
.quoteWrapper {
	margin-top: 30px;
	margin-bottom: 15px;
}
.page .postDate {
	margin-bottom: 15px;
}
.page h3 {
	margin-top: 30px;
}
.postMeta .glyphicon {
	margin-right: 8px;
	margin-top: 11px;
	font-size: .7em;
	color: #969696;
}
.authorAvatar {
	text-align: center;
}
.authorAvatar img {
	margin-top: 15px;
	width: 100%;
	max-height: 125px;
	max-width: 125px;
}
.authorInfo {
	padding-right: 0;
	padding-bottom: 0 !important;
}
.authorship {
	padding-left: 0;
}
.authorship p {
	font-size: 14px;
	line-height: 1.428;
}
.authorship h3,
.productCard h2,
.productCard h3,
.authorship h4,
.authorship h6,
.productCard h6 {
	text-transform: uppercase;
}
.authorship h4,
.authorship h6,
.productCard h6 {
	letter-spacing: 3px;
}
.authorship h3,
.authorship h4,
h3.productName {
	font-weight: 700;
	margin-top: 0;
}
.preAuthorText,
.preProductText {
	color: #969696;
	margin-bottom: 3px;
}
.authorship .socialButtons {
	margin-top: 6px;
}
.productCard .price h2 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	margin-top: 0;
}
.productImage {
	margin-top: 15px;
}
.productImage img {
	width: 100%;
	max-height: 360px;
	max-width: 205px;
}
.purchaseButton {
	padding-right: 0;
}
.endOfArticle {
	width: 60px;
	height: 60px;
	overflow: hidden;
	margin: 30px auto 60px;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
	background-position: 0 -120px;
}


/* Sidebar & Comments Sidebar Ads
-------------------------------------------------- */
.sidebarWrapper,
.commentsAdWrapper {
	padding-right: 0;
	padding-left: 15px;
}
.sidebarWrapper h3.postTitle {
	margin-bottom: 30px;
	margin-top: -12px;
}
.sidebarWrapper h2.sectionTitle {
	font-weight: 700;
}
.titleNoSpace {
	margin-bottom: 0;
}



/* Tiles
-------------------------------------------------- */
.imageWrapper {
	overflow: hidden;
	width: 100%;
	margin-bottom: 15px;
}
.imageWrapper img {
	width: 100%;
}
.tile p {
	max-height: 120px;
	overflow: hidden;
}
h5.postDate {
	text-transform: uppercase;
	margin-bottom: 0;
	color: #969696;
}
h3.postTitle {
	margin-top: 12px;
	max-height: 52px;
	overflow: hidden;
	text-transform: uppercase;
}
.tile.col-md-12 {
	padding-right: 0;
}
.categoryTitle {
	float: right;
	padding: 0;
	text-transform: uppercase;
}


/* Edit
-------------------------------------------------- */
.adminLogin {
	position: fixed;
	z-index: 12;
	bottom: 65px;
	right: 15px;
	height: 45px;
	line-height: 40px;
	width: 45px;
}
.adminLogin:active {
	bottom: 63px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.col-md-4.editor .col-md-4.tile {
	width: 100%;
	padding: 0;
}
.col-md-8.editor {
	padding: 0;
}
.edit {
	color: #fff;
	position: absolute;
	z-index: 12;
	top: 0px;
	right: 15px;
	height: 45px;
	line-height: 40px;
	width: 45px;
	color: #fff;
	background-color: #262626;
	cursor: pointer;
}
.col-md-8.editor .edit {
	right: 0;
}
.edit:active {
	top: 2px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.editor span.edit {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 1px;
	line-height: 38px;
	font-size: 20px;
	text-align: center;
}



/* Pagination
-------------------------------------------------- */
.pagination .glyphicon {
	margin-top: -65px;
	color: #969696;
	font-size: 1.3em;
}
.pagination a:hover .glyphicon,
.pagination a:focus .glyphicon {
	color: #262626;
}
.pagination a .previous,
.pagination a .next {
	padding-bottom: 0;
}
.pagination a .previous:hover .glyphicon,
.pagination a .next:hover .glyphicon {
	-moz-animation:bounce .40s linear;
	-webkit-animation:bounce .40s linear;
}
.pagination a .previous:active,
.pagination a .next:active {
	opacity: .5;
	filter: alpha(opacity=50);
}
.pagination .glyphicon.glyphicon-chevron-left {
	float: left;
}
.pagination .glyphicon.glyphicon-chevron-right {
	float: right;
}
.pagination h2 {
	margin-top: 0;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.pagination h5 {
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #969696;
	margin-bottom: 0;
	margin-top: 30px;
}
.pagination .disabled {
	opacity: .3;
	filter: alpha(opacity=30);
}
.pagination a .disabled.previous:hover .glyphicon,
.pagination a .disabled.next:hover .glyphicon {
	-moz-animation:none !important;
	-webkit-animation:none !important;
	opacity: .5;
	filter: alpha(opacity=50);
}
.container.pagination {
	padding-left: 0;
	padding-right: 0;
}



/* Social
-------------------------------------------------- */
.navbar-social {
	float: right !important;
	margin: 0;
	height: 0;
}
.footer .socialButtons {
	position: relative;
	top: 10px;
}
.footerNav .socialButtons,
.footerNav .socialButtons ul {
	height: 30px;
	padding-left: 0;
}
.socialButtons li {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: -2px;
	list-style: none;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
}
.socialButtons li:hover {
	color: #262626;
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 0 2px #262626;
            box-shadow: inset 0 0 0 2px #262626;
}
.socialButtons li:active {
	position: relative !important;
	top: 2px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
li.shareFacebook {
	background-position: 11px 7px;
}
li.shareTwitter {
	background-position: -52px 9px;
}
li.shareGoogle {
	background-position: -292px 8px;
}
li.sharePinterest {
	background-position: -172px 8px;
}
li.shareInstagram {
	background-position: -233px 7px;
}
li.shareRSS {
	background-position: -113px 7px;
}
li.shareFacebook:hover {
	background-position: 11px -53px;
}
li.shareTwitter:hover {
	background-position: -52px -51px;
}
li.shareGoogle:hover {
	background-position: -292px -52px;
}
li.sharePinterest:hover {
	background-position: -172px -52px;
}
li.shareInstagram:hover {
	background-position: -233px -53px;
}
li.shareRSS:hover {
	background-position: -113px -53px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.socialButtons li,
	.endOfArticle {
		background-image: url('../img/sprites@2x.png');
		background-size: 360px;
	}
}
.shareBelowArticle {
	margin-bottom: 0;
	padding-left: 0;
}
ul.shareTextMenu {
	padding-left: 0;
	text-align: right;
	margin-top: 10px;
}
.shareTextMenu li {
	float: none;
	display: inline-block;
	font-family: "din-condensed-web",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0 15px;
	background-color: transparent !important;
}
.shareTextMenu li:first-child {
	margin-left: 0;
	float: left;
	text-align: left;
}
.shareTextMenu li:last-child {
	margin-right: 0;
}
.shareTextMenu li a {
	color: #262626;
}
.shareTextMenu li a:hover,
.shareTextMenu li a:focus {
	color: #A33333;
}
.shareTextMenu li a:active {
	opacity: 0.5;
	filter: alpha(opacity=50);
}


/* Responsive CSS
-------------------------------------------------- */

@media (max-width: 499px) {
	.imageWrapper {
		float: none !important;
		width: 100% !important;
		margin-bottom: 0 !important;
	}
	.carousel-caption {
		bottom: 15% !important;
	}
	h4.subTitle {
		font-size: .8em;
		margin-left: -165px !important;
	}
	.carousel-caption .btn-primary {
		margin-top: 10px !important;
		font-size: 12px;
	}
	.carousel-caption h1 {
		font-size: 24px;
	}
	.pagination h5 {
		letter-spacing: 2px;
	}
	.pagination .previous {
		text-align: right;
	}
	.pagination .next {
		text-align: left;
	}
	.pagination h5 {
		font-size: .8em;
	}
	.pagination h2 {
		font-size: 1.6em;
	}
}

@media (max-width: 767px) {
	.navbar-nav > li,
	.footerNav li {
		width: 100%;
	}
	.footer .socialButtons li {
		width: 30px;
	}
	.navbar-nav {
		margin-left: -15px;
	}
	.nav.navbar-nav.topNav {
		width: auto !important;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: #555555;
		background-color: #e7e7e7;
	}
	.dropdownCategories {
		display: none !important;
	}
	h3.postTitle {
		max-height: 100% !important;
	}
	.navbar-nav.fixed {
		display: none;
	}
	h4.subTitle {
		margin-left: -190px;
	}
	.footer .socialButtons {
		position: static;
		margin-bottom: 10px;
	}
	.footerNav > li > a {
		text-align: center;
	}
	.footer .socialButtons {
		text-align: center;
		width: 100%;
	}
	.footer .socialButtons ul {
		padding-left: 0;
	}
	.navbar-default .navbar-nav > .active > a:before,
	.navbar-default .navbar-nav > li:hover > a:before {
		display: none;
	}
	.navbar.navbar-default .navbar-social {
		margin-top: -12px;
		float: none !important;
		width: 100%;
		height: 45px;
		text-align: center;
		padding-left: 0;
	}
	h4.subTitle {
		top: 151px;
	}
	.shareTextMenu li {
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.shareTextMenu li:first-child {
		float: none;
		text-align: center;
		font-weight: 700;
		font-size: 1.3em;
	}
	.resultTitle {
		position: relative;
		background-color: #262626;
	}
	.resultTitle h1 {
		font-size: 2em;
	}
}

@media (min-width: 768px) {
	.navbar-nav > li,
	.navbar-nav > li:hover {
		background: none !important;
	}
	.dropdownCategories.fashion {
		margin-left: -50px;
	}
	.dropdownCategories.health-beauty {
		margin-left: -162px;
	}
	.dropdownCategories.cooking {
		margin-left: -374px;
	}
	.dropdownCategories.lifestyle {
		margin-left: -490px;
	}
	.dropdownCategories.home {
		margin-left: -620px;
	}
}

@media (max-width: 991px) {
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		display: inline-block;
		padding-bottom: 30px;
	}
	.sidebarWrapper {
		padding-bottom: 0;
	}
	.imageWrapper {
		width: 44%;
		margin-right: 15px;
		display: inline-block;
		float: left;
	}
	.dropdownCategories .imageWrapper {
		height: auto;
		float: none;
		width: 100%;
	}
	.row {
		margin-bottom: 0;
	}
	li.smallLogo {
		display: none !important;
	}
	.sidebarWrapper h5.postDate,
	.sidebarWrapper p {
		display: block;
	}
	.sidebarWrapper h3.postTitle {
		margin-bottom: 10px;
		margin-top: 12px;
	}
	.sidebarWrapper .row {
		margin-left: -30px;
	}
	.sidebarWrapper h2.sectionTitle {
		padding-left: 0;
	}
	.sidebarWrapper {
		padding-right: 15px;
	}
}

@media (min-width: 992px) {
	.dropdownCategories.fashion {
		margin-left: -160px;
	}
	.dropdownCategories.health-beauty {
		margin-left: -272px;
	}
	.dropdownCategories.cooking {
		margin-left: -484px;
	}
	.dropdownCategories.lifestyle {
		margin-left: -600px;
	}
	.dropdownCategories.home {
		margin-left: -730px;
	}
	.contentWrapper,
	.commentsWrapper,
	.col-md-8.editor {
		width: 625px;
	}
	.sidebarWrapper,
	.commentsAdWrapper {
		width: 300px;
	}
	.pagination .removeBorder {
		display: none;
	}
	.pagination .row {
		margin-bottom: 0;
	}
	.pagination {
		margin-bottom: -30px;
	}
	.img-circle.pull-right {
		margin-right: 30px;
	}
	.categoryTitle {
		margin-top: 0;
	}
}

@media (min-width: 1200px) {
	.dropdownCategories.fashion {
		margin-left: -260px;
	}
	.dropdownCategories.health-beauty {
		margin-left: -372px;
	}
	.dropdownCategories.cooking {
		margin-left: -584px;
	}
	.dropdownCategories.lifestyle {
		margin-left: -700px;
	}
	.dropdownCategories.home {
		margin-left: -830px;
	}
	.contentWrapper,
	.commentsWrapper,
	.col-md-8.editor {
		width: 825px;
	}
}